/*
Error: Invalid CSS after "...lude isolate(7)": expected "{", was ";"
        on line 144 of /Users/drew/Dropbox/Work/drewharper/drewharper.com/source/scss/screen.scss

139:         @include span-columns(5);
140:         @include isolate(2);
141:     }
142:     .right {
143:         @include span-columns(5);6
144:         @include isolate(7);
145:     }
146: }
147: 
148: // #############
149: // NAVIGATION

Backtrace:
/Users/drew/Dropbox/Work/drewharper/drewharper.com/source/scss/screen.scss:144
/Users/drew/.rvm/gems/ruby-head/gems/sass-3.4.11/lib/sass/scss/parser.rb:1165:in `expected'
/Users/drew/.rvm/gems/ruby-head/gems/sass-3.4.11/lib/sass/scss/parser.rb:1101:in `expected'
/Users/drew/.rvm/gems/ruby-head/gems/sass-3.4.11/lib/sass/scss/parser.rb:1096:in `tok!'
/Users/drew/.rvm/gems/ruby-head/gems/sass-3.4.11/lib/sass/scss/parser.rb:641:in `block'
/Users/drew/.rvm/gems/ruby-head/gems/sass-3.4.11/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
/Users/drew/.rvm/gems/ruby-head/gems/sass-3.4.11/lib/sass/scss/parser.rb:661:in `block_child'
/Users/drew/.rvm/gems/ruby-head/gems/sass-3.4.11/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/drew/.rvm/gems/ruby-head/gems/sass-3.4.11/lib/sass/scss/parser.rb:642:in `block'
/Users/drew/.rvm/gems/ruby-head/gems/sass-3.4.11/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
/Users/drew/.rvm/gems/ruby-head/gems/sass-3.4.11/lib/sass/scss/parser.rb:661:in `block_child'
/Users/drew/.rvm/gems/ruby-head/gems/sass-3.4.11/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/drew/.rvm/gems/ruby-head/gems/sass-3.4.11/lib/sass/scss/parser.rb:642:in `block'
/Users/drew/.rvm/gems/ruby-head/gems/sass-3.4.11/lib/sass/scss/parser.rb:635:in `ruleset'
/Users/drew/.rvm/gems/ruby-head/gems/sass-3.4.11/lib/sass/scss/parser.rb:660:in `block_child'
/Users/drew/.rvm/gems/ruby-head/gems/sass-3.4.11/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/drew/.rvm/gems/ruby-head/gems/sass-3.4.11/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/drew/.rvm/gems/ruby-head/gems/sass-3.4.11/lib/sass/scss/parser.rb:42:in `parse'
/Users/drew/.rvm/gems/ruby-head/gems/sass-3.4.11/lib/sass/engine.rb:393:in `_to_tree'
/Users/drew/.rvm/gems/ruby-head/gems/sass-3.4.11/lib/sass/engine.rb:268:in `render'
/Users/drew/.rvm/gems/ruby-head/gems/sass-3.4.11/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/drew/.rvm/gems/ruby-head/gems/sass-3.4.11/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/drew/.rvm/gems/ruby-head/gems/sass-3.4.11/lib/sass/plugin/compiler.rb:209:in `each'
/Users/drew/.rvm/gems/ruby-head/gems/sass-3.4.11/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/drew/.rvm/gems/ruby-head/gems/sass-3.4.11/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/drew/.rvm/gems/ruby-head/gems/sass-3.4.11/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/drew/.rvm/gems/ruby-head/gems/listen-2.8.5/lib/listen/listener.rb:282:in `call'
/Users/drew/.rvm/gems/ruby-head/gems/listen-2.8.5/lib/listen/listener.rb:282:in `_process_changes'
/Users/drew/.rvm/gems/ruby-head/gems/listen-2.8.5/lib/listen/listener.rb:246:in `block in _wait_for_changes'
/Users/drew/.rvm/gems/ruby-head/gems/listen-2.8.5/lib/listen/listener.rb:229:in `loop'
/Users/drew/.rvm/gems/ruby-head/gems/listen-2.8.5/lib/listen/listener.rb:229:in `_wait_for_changes'
/Users/drew/.rvm/gems/ruby-head/gems/listen-2.8.5/lib/listen/listener.rb:318:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...lude isolate(7)\": expected \"{\", was \";\"\A         on line 144 of /Users/drew/Dropbox/Work/drewharper/drewharper.com/source/scss/screen.scss\A \A 139:         @include span-columns(5);\A 140:         @include isolate(2);\A 141:     }\A 142:     .right {\A 143:         @include span-columns(5);6\A 144:         @include isolate(7);\A 145:     }\A 146: }\A 147: \A 148: // #############\A 149: // NAVIGATION"; }
