@import url(../css/main.css);
@import url(../css/normalize.css);
@import url(../css/ie.css);
@import url(../css/fonts/veneer/veneer.css);
@import url(../css/fonts/American_typewriter/american_typewriter/american_typewriter.css);
/* line 36, ../scss/screen.scss */
a {
  color: #46646e;
}
/* line 18, ../../../../../../.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #46646e;
}
/* line 24, ../../../../../../.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: orange;
}

/* line 58, ../scss/screen.scss */
html {
  background-color: #333;
  margin: 0;
  padding: 0;
}

/* line 71, ../scss/screen.scss */
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 0.85em;
  line-height: 1.7em;
}

/* line 80, ../scss/screen.scss */
.fluid-container {
  *zoom: 1;
  max-width: 71em;
  _width: 71em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  background: url(../img/bg/graphy_2.png) repeat;
}
/* line 38, ../../../../../../.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.fluid-container:after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 59.5em) {
  /* line 80, ../scss/screen.scss */
  .fluid-container {
    max-width: 71em;
    _width: 71em;
  }
}
@media (max-width: 34em) {
  /* line 80, ../scss/screen.scss */
  .fluid-container {
    max-width: 71em;
    _width: 71em;
  }
}
@media (max-width: 25.5em) {
  /* line 80, ../scss/screen.scss */
  .fluid-container {
    max-width: 71em;
    _width: 71em;
  }
}

/* line 89, ../scss/screen.scss */
header, footer {
  color: #fffdf4;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5), 0 3px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5), 0 3px 5px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5), 0 3px 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5), 0 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5), 0 3px 5px rgba(0, 0, 0, 0.2);
  clear: both;
  width: 100%;
  float: left;
  margin-right: 1.40845%;
  display: inline;
}

/* line 105, ../scss/screen.scss */
header {
  margin: 0 0 1em 0;
  background: url(../img/bg/bg_bag_dk.jpg) repeat;
}

/* line 110, ../scss/screen.scss */
footer {
  margin: 1em 0 0 0;
  background: url(../img/bg/bg_bag_dk2.jpg) repeat;
}

/* line 115, ../scss/screen.scss */
.background {
  padding: 1em 0 1.5em 0;
}

/* line 123, ../scss/screen.scss */
.content {
  width: 100%;
  float: left;
  margin-right: 1.40845%;
  display: inline;
  display: block;
  clear: left;
  text-align: left;
  clear: both;
}
/* line 134, ../scss/screen.scss */
.content .left {
  width: 40.84507%;
  float: left;
  margin-right: 1.40845%;
  display: inline;
  margin-right: -100%;
  margin-left: 8.4507%;
}
/* line 139, ../scss/screen.scss */
.content .right {
  width: 40.84507%;
  float: left;
  margin-right: 1.40845%;
  display: inline;
  margin-right: -100%;
  margin-left: 50.70423%;
}

/* line 150, ../scss/screen.scss */
#index .home,
#resume .resume,
#portfolio .portfolio {
  background-color: orange;
}

/* line 157, ../scss/screen.scss */
.nav {
  width: 83.09859%;
  float: left;
  margin-right: 1.40845%;
  display: inline;
  margin-right: -100%;
  margin-left: 8.4507%;
}

/* line 166, ../scss/screen.scss */
.nav h1 {
  display: block;
  float: left;
  margin: .2em 0 .2em 0;
  padding: 0;
  font-family: "VeneerTwo", Helvetica, Arial, sans-serif;
  font-size: 5em;
  color: #fffdf4;
  text-shadow: 5px 0px 3px #c02c19;
  line-height: 90%;
}

/* line 178, ../scss/screen.scss */
.nav h1 a {
  margin: 0em 0 0em 0;
  text-decoration: none;
}

/* line 182, ../scss/screen.scss */
.nav h1 a:hover {
  color: orange;
}

/* line 186, ../scss/screen.scss */
.nav h2 {
  font-family: "Veneer", Helvetica, Arial, sans-serif;
  font-size: 2.125em;
  margin: .631em 0 0 .4em;
  padding: 0;
  display: inline-block;
  float: left;
  width: 205px;
  color: #fffdf4;
  text-shadow: 3px 0px 3px #c02c19;
  letter-spacing: 0.06em;
  line-height: .968em;
}

/* line 202, ../scss/screen.scss */
.nav a {
  color: #fffdf4;
}
/* line 204, ../scss/screen.scss */
.nav a:hover {
  color: orange;
}

/* line 209, ../scss/screen.scss */
.contact {
  color: #fffdf4;
  margin: .55em 1em 0 0;
  padding: 0;
  display: block;
  float: right;
  font-family: "Veneer", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  text-align: center;
}
@media (max-width: 59.5em) {
  /* line 209, ../scss/screen.scss */
  .contact {
    font-size: 1.25em;
  }
}
/* line 227, ../scss/screen.scss */
.contact .email {
  line-height: 1.1em;
  margin: .75em 0 0 0;
  padding: 0;
  letter-spacing: .05em;
}
/* line 233, ../scss/screen.scss */
.contact .email a {
  text-decoration: none;
}
/* line 235, ../scss/screen.scss */
.contact .email a:hover {
  color: orange;
}
/* line 240, ../scss/screen.scss */
.contact .resume {
  line-height: 1em;
  margin: .0em 0 0 0;
  padding: 0;
  letter-spacing: .05em;
}
/* line 246, ../scss/screen.scss */
.contact .resume a {
  text-decoration: none;
}

/* line 260, ../scss/screen.scss */
h1, h2, h3, h4, h5 {
  color: #C02C19;
  line-height: 1.1em;
  font-weight: normal;
  text-align: left;
  margin: .75em 0 .25em 0;
  padding: 0;
  letter-spacing: .025em;
  text-transform: uppercase;
}

/* line 271, ../scss/screen.scss */
h1 {
  font-family: "VeneerTwo", Helvetica, Arial, sans-serif;
}

/* line 275, ../scss/screen.scss */
h2, h3, h4, h5 {
  font-family: "Veneer", Helvetica, Arial, sans-serif;
}

/* line 279, ../scss/screen.scss */
.left .head {
  margin: 0 0 1em 0;
  float: left;
  display: inline-block;
  clear: both;
  width: 100%;
}

/* line 290, ../scss/screen.scss */
.left .head .drewhead {
  margin: 0 1em 0 0;
  padding: 0;
  width: 73px;
  height: 89px;
  background-image: url("/img/drew_head.png");
  float: left;
  display: block;
  clear: left;
}

/* line 302, ../scss/screen.scss */
.left .head h1 {
  font-size: 1.75em;
  font-family: "Veneer", Helvetica, Arial, sans-serif;
  margin: 1.25em 0em 0 0;
  color: #C02C19;
  line-height: 1.1em;
  text-shadow: 3px 0px 3px white;
  padding: 0 2em 0 0;
}

/* line 316, ../scss/screen.scss */
.left p {
  font-size: 0.825rem;
  color: #444444;
  display: inline-block;
  float: left;
  clear: left;
  margin: 0 1.5em 0 .8rem;
  line-height: 2.2em;
  letter-spacing: 0.075em;
}

/* line 328, ../scss/screen.scss */
.about {
  display: inline-block;
  float: left;
  background-image: url("../img/bg/bg_bag_y.png");
  background-repeat: repeat;
  margin: .3em 0 1em 0;
  padding: 1em .5em .3em .75em;
  width: 95.4%;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5), 0 3px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5), 0 3px 5px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5), 0 3px 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5), 0 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5), 0 3px 5px rgba(0, 0, 0, 0.2);
}

/* line 341, ../scss/screen.scss */
.aboutinner {
  display: inline-block;
}

/* line 346, ../scss/screen.scss */
.about .british_american_flag {
  width: 15.49296%;
  float: left;
  margin-right: 1.40845%;
  display: inline;
  margin-right: -100%;
  margin-left: 0%;
}

/* line 351, ../scss/screen.scss */
.about .british_american_flag img {
  width: 100%;
  height: auto;
}

/* line 356, ../scss/screen.scss */
.about .copy {
  font-size: .85em;
  width: 83.09859%;
  float: left;
  margin-right: 1.40845%;
  display: inline;
  margin-right: -100%;
  margin-left: 16.90141%;
}

/* line 362, ../scss/screen.scss */
.about .copy p {
  margin: 0 0 0 1em;
}

/* line 367, ../scss/screen.scss */
h2 {
  font-size: 2.25em;
  color: orange;
  text-transform: capitalize;
  font-family: "Veneer", Helvetica, Arial, sans-serif;
}

/* line 374, ../scss/screen.scss */
.content h2:first-of-type {
  margin: 0 0 0 0;
}

/* line 379, ../scss/screen.scss */
h3 {
  font-size: 1.7em;
  color: #46646e;
}

/* line 384, ../scss/screen.scss */
h4 {
  font-size: 1.5em;
  letter-spacing: .04em;
}

/* line 389, ../scss/screen.scss */
h5 {
  font-size: 0.85em;
}

/* line 394, ../scss/screen.scss */
p {
  font-family: "AmericanTypewriterStd-Med", Helvetica, Arial, sans-serif;
  color: #5b7d96;
  line-height: 1.7em;
  font-weight: normal;
  text-align: left;
  margin: 0;
  padding: 0;
}

/* line 405, ../scss/screen.scss */
ul {
  list-style-type: square;
  padding: 0;
  margin: 0 -1em 1em 0em;
  font-family: "AmericanTypewriterStd-Med", Helvetica, Arial, sans-serif;
  color: #5b7d96;
  line-height: 1.7em;
  text-align: left;
}

/* line 415, ../scss/screen.scss */
li {
  list-style-position: outside;
  margin: .25em 0em 0 1em;
  padding-left: -1em;
  line-height: 1.6em;
}

/* line 422, ../scss/screen.scss */
.indent {
  padding-left: 1.5em;
}

/* line 426, ../scss/screen.scss */
.one {
  background-color: #8fa9c2;
  background: url(../img/bg-steel-02.png) repeat;
  margin: 0 0 1em 0;
}

/* line 434, ../scss/screen.scss */
.two {
  background-color: #8fa9c2;
  background: url(../img/bg-steel-02.png) repeat;
  margin: 0 0 1em 0;
}

/* line 442, ../scss/screen.scss */
.three {
  background-color: #8fa9c2;
  background: url(../img/bg-steel-02.png) repeat;
  margin: 0 0 1em 0;
}

/* line 450, ../scss/screen.scss */
.four {
  background-color: #8fa9c2;
  margin: 0 0 1em 0;
}

/* line 459, ../scss/screen.scss */
.skills {
  display: inline-block;
  float: left;
  clear: left;
  margin: .5em 0 0 0;
  padding: 0;
  text-align: center;
}
/* line 468, ../scss/screen.scss */
.skills .col1 {
  width: 23.94366%;
  float: left;
  margin-right: 1.40845%;
  display: inline;
  margin-right: -100%;
  margin-left: 0%;
}
/* line 474, ../scss/screen.scss */
.skills .col2 {
  width: 23.94366%;
  float: left;
  margin-right: 1.40845%;
  display: inline;
  margin-right: -100%;
  margin-left: 25.35211%;
}
/* line 480, ../scss/screen.scss */
.skills .col3 {
  width: 23.94366%;
  float: left;
  margin-right: 1.40845%;
  display: inline;
  margin-right: -100%;
  margin-left: 50.70423%;
}
/* line 486, ../scss/screen.scss */
.skills .col4 {
  width: 23.94366%;
  float: left;
  margin-right: 1.40845%;
  display: inline;
  margin-right: -100%;
  margin-left: 76.05634%;
}
/* line 492, ../scss/screen.scss */
.skills .icon {
  display: inline-block;
  clear: left;
  margin: 0 0.7rem 1rem;
  padding: 0;
  width: 68px;
  text-align: center;
}

/* line 505, ../scss/screen.scss */
.right .flexslider {
  background-color: #fffdf4;
  display: block;
  clear: both;
  margin: 2em 0 1em 0;
  float: left;
  clear: both;
  padding: 0;
  width: 98%;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5), 0 3px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5), 0 3px 5px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5), 0 3px 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5), 0 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5), 0 3px 5px rgba(0, 0, 0, 0.2);
}

/* line 521, ../scss/screen.scss */
.flexslider .slides img {
  width: 100%;
  height: auto;
}

/* line 526, ../scss/screen.scss */
.slides > li {
  margin: 0em;
}

/* line 530, ../scss/screen.scss */
.flex-control-nav {
  display: none;
}

/* line 534, ../scss/screen.scss */
.quote {
  float: left;
  clear: both;
  display: block;
  width: 100%;
  height: 100px;
  margin: 0em 0 0em 0;
}

/* line 546, ../scss/screen.scss */
blockquote {
  background-color: darkred;
  margin: 0;
  padding: .25em 1em .75em 1em;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5), 0 3px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5), 0 3px 5px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5), 0 3px 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5), 0 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5), 0 3px 5px rgba(0, 0, 0, 0.2);
}

/* line 559, ../scss/screen.scss */
.right blockquote p {
  color: #fffdf4;
  padding: .75em .5em 0em .5em;
  text-align: center;
  letter-spacing: .08em;
  font-size: .95em;
}

/* line 567, ../scss/screen.scss */
blockquote cite {
  color: #fffdf4;
  font-style: italic;
  margin: 0 4em 0 0;
  display: block;
  text-align: right;
  font-size: .8em;
  letter-spacing: .08em;
}

@media (max-width: 59.5em) {
  /* line 607, ../scss/screen.scss */
  .content .left {
    width: 83.09859%;
    float: left;
    margin-right: 1.40845%;
    display: inline;
    margin-right: -100%;
    margin-left: 8.4507%;
    clear: both;
  }
  /* line 613, ../scss/screen.scss */
  .content .right {
    width: 83.09859%;
    float: left;
    margin-right: 1.40845%;
    display: inline;
    margin-right: -100%;
    margin-left: 8.4507%;
    clear: both;
  }

  /* line 621, ../scss/screen.scss */
  .nav h1 {
    font-size: 4.8em;
    margin: .15em 0 -4px -4px;
    display: block;
    float: left;
    clear: left;
  }

  /* line 632, ../scss/screen.scss */
  .nav h2 {
    font-size: 2.25em;
    margin: .4em 0 .7em 0;
    letter-spacing: 0em;
    display: block;
    float: left;
    clear: left;
    width: auto;
  }

  /* line 649, ../scss/screen.scss */
  .nav .contact {
    margin: -2em 1em 0 0;
    padding: 0;
    display: inline-block;
    float: right;
    clear: right;
    width: auto;
  }

  /* line 659, ../scss/screen.scss */
  .nav .contact .email {
    font-size: 1.3em;
    line-height: 1.3em;
    margin: 0;
    padding: 0;
    letter-spacing: .08em;
    text-align: center;
    letter-spacing: 1px;
    width: auto;
  }

  /* line 672, ../scss/screen.scss */
  .nav .contact .resume {
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    width: auto;
  }

  /* line 688, ../scss/screen.scss */
  .left .head {
    margin: 0.5em 0 .75em 0;
  }

  /* line 692, ../scss/screen.scss */
  .left .head .drewhead {
    margin: 0 1em 0 0;
    padding: 0;
    width: 73px;
    height: 89px;
    float: left;
    display: block;
    clear: left;
  }

  /* line 705, ../scss/screen.scss */
  .left .head h1 {
    font-size: 2.35em;
    display: block;
    float: none;
    clear: none;
    width: auto;
    margin: .5em 0 0 0;
    padding: 0 2em 0 0;
    color: #C02C19;
    line-height: 1.1em;
    text-shadow: 3px 0px 3px white;
    font-family: "Veneer", Helvetica, Arial, sans-serif;
    width: 80%;
  }

  /* line 727, ../scss/screen.scss */
  .left p {
    color: #444444;
    display: inline-block;
    float: left;
    clear: left;
    margin: 0 0em 0 0;
    line-height: 1.8em;
    letter-spacing: 0.075em;
    margin: 0 0 1em 0;
  }

  /* line 741, ../scss/screen.scss */
  .right .flexslider {
    margin: 0 0 1em 0;
  }

  /* line 745, ../scss/screen.scss */
  .about {
    width: 96.8%;
  }

  /* line 748, ../scss/screen.scss */
  .quote {
    width: 99.3%;
  }
}
@media (max-width: 34em) {
  /* line 771, ../scss/screen.scss */
  .nav h1 {
    font-size: 4.7em;
    margin: .2em 0 0em 0;
    letter-spacing: .02em;
  }

  /* line 778, ../scss/screen.scss */
  .nav h2 {
    font-size: 1.7em;
    margin: .2em 0 .2em 0;
    letter-spacing: 1px;
    clear: both;
  }

  /* line 785, ../scss/screen.scss */
  .nav .contact {
    width: auto;
    float: left;
    clear: both;
    margin: 0 0 1em 0;
    padding: 0 0 0 0;
  }

  /* line 793, ../scss/screen.scss */
  .nav .contact .email {
    font-size: 1em;
    width: auto;
    display: block;
    float: left;
    clear: left;
    margin: 0;
  }

  /* line 802, ../scss/screen.scss */
  .nav .contact .resume {
    font-size: 1em;
    width: auto;
    display: block;
    float: left;
    clear: right;
    margin: .2em 0 0 1em;
  }

  /* line 811, ../scss/screen.scss */
  footer .nav .contact .email {
    font-size: 1em;
    width: auto;
    display: block;
    float: left;
    clear: left;
    margin: 0;
  }

  /* line 820, ../scss/screen.scss */
  footer .nav .contact .resume {
    font-size: 1em;
    display: block;
    float: left;
    clear: right;
    margin: .2em 0 0 1em;
  }

  /* line 828, ../scss/screen.scss */
  .about {
    width: 96.5%;
  }

  /* line 832, ../scss/screen.scss */
  .right blockquote p {
    font-size: .85em;
  }

  /* line 836, ../scss/screen.scss */
  .quote {
    height: inherit;
    margin-bottom: 2rem;
  }

  /* line 841, ../scss/screen.scss */
  .left .head {
    margin: .75em 0 1.25em 0;
  }

  /* line 845, ../scss/screen.scss */
  .left .head h1 {
    font-size: 2em;
    margin: 0.1em 0 0 0;
    padding: 0;
    width: auto;
    line-height: 1.05em;
  }

  /* line 858, ../scss/screen.scss */
  .quote {
    width: 100%;
  }
}
@media (max-width: 25.5em) {
  /* line 879, ../scss/screen.scss */
  .content {
    width: 83.09859%;
    float: left;
    margin-right: 1.40845%;
    display: inline;
    margin-right: -100%;
    margin-left: 8.4507%;
    text-align: left;
    clear: both;
  }

  /* line 892, ../scss/screen.scss */
  .left {
    width: 100%;
    float: left;
    margin-right: 1.40845%;
    display: inline;
    margin-right: -100%;
    margin-left: 0%;
    display: inline-block;
    float: left;
    clear: both;
  }

  /* line 902, ../scss/screen.scss */
  .right {
    width: 100%;
    float: left;
    margin-right: 1.40845%;
    display: inline;
    margin-right: -100%;
    margin-left: 0%;
    display: inline-block;
    float: left;
    clear: both;
  }

  /* line 913, ../scss/screen.scss */
  .skills {
    margin: 0;
  }

  /* line 917, ../scss/screen.scss */
  .left .head {
    margin: .5em 0 1.2em 0;
  }

  /* line 921, ../scss/screen.scss */
  .left .head h1 {
    font-size: 1.8em;
    margin: 0.4em 0 0 0;
    padding: 0;
    line-height: 1.05em;
  }

  /* line 930, ../scss/screen.scss */
  .nav h1 {
    font-size: 3.925em;
    clear: both;
  }

  /* line 936, ../scss/screen.scss */
  .nav h2 {
    font-size: 1.8em;
    margin: .2em 0 .15em 0;
    letter-spacing: .01em;
    clear: both;
  }

  /* line 943, ../scss/screen.scss */
  .nav .contact {
    width: 100%;
    float: left;
    clear: both;
    margin: 0 0 1em 0;
  }

  /* line 950, ../scss/screen.scss */
  .nav .contact .email {
    font-size: 1em;
    width: auto;
    display: block;
    float: left;
    clear: left;
    margin: 0;
  }

  /* line 959, ../scss/screen.scss */
  .nav .contact .resume {
    font-size: 1em;
    width: auto;
    display: block;
    float: left;
    clear: right;
    margin: .2em 0 0 1em;
  }

  /* line 968, ../scss/screen.scss */
  footer .nav .contact .email {
    font-size: 1em;
    width: auto;
    display: block;
    float: left;
    clear: left;
    margin: 0;
  }

  /* line 977, ../scss/screen.scss */
  footer .nav .contact .resume {
    font-size: 1em;
    display: block;
    float: left;
    clear: right;
    margin: .15em 0 0 1em;
  }

  /* line 985, ../scss/screen.scss */
  .about {
    width: 96.5%;
  }

  /* line 989, ../scss/screen.scss */
  .quote {
    width: 103.8%;
  }
}
