<div class="nav">
	<h1><a href="/">DREW HARPER</a></h1>	
	<h2>UI/UX DESIGNER
		FRONT-END DEV</h2>
	<div class="contact">
		<div class="email"><a href="mailto:druharper@gmail.com">DRUHARPER@GMAIL.COM</a></div>
		<div class="resume">Resume: Download <a href="https://www.box.com/s/qctxrrjy46is2y9w4dnp">PDF</a> | <a href="https://www.box.com/s/1dgzl3lli3lweqhvlfqf">Word</a></div>
	</div>

</div>