<div class="nav">
	<h1><a href="/">DREW HARPER</a></h1>
	<h2>UI/UX DESIGNER FRONT-END DEV</h2>
	<div class="contact">
		<div class="email"><a href="mailto:druharper@gmail.com">DRUHARPER@GMAIL.COM</a></div>
		<div class="resume">Resume:
            <a href="drew_harper_resume_portfolio_2015.docx">Word 12MB</a> |
            <a href="drew_harper_resume_portfolio_2015_short.docx">510k</a>,
            <a href="drew_harper_resume_portfolio_2015.pdf">PDF</a>
        </div>
	</div>
	<br clear="all">
</div>
