<div class="nav">
	<h1><a href="/">DREW HARPER</a></h1>	
	<h2>UI/UX DESIGNER FRONT-END DEV</h2>
	<div class="contact">
		<div class="email"><a href="mailto:druharper@gmail.com">DRUHARPER@GMAIL.COM</a></div>
		<div class="resume">Resume: <a href="https://app.box.com/s/o8df6g4tdx9b66he289gcrg1nevfklpq">PDF</a> | <a href="https://app.box.com/s/x9stwvoa7gt4sjivzt63fxa0p3vfuwrn">Word</a></div>
	</div>
	<br clear="all">
</div>
