<ul class="slides">
	<!-- CivicInc -->
	<li><img src="img/portfolio/jpg/CivicInc_Bridge_01.jpg"></li>
	<li><img src="img/portfolio/jpg/CivicInc_Bridge_02.jpg"></li>
	<li><img src="img/portfolio/jpg/CivicInc_Bridge_03.jpg"></li>
	<li><img src="img/portfolio/jpg/CivicInc_Funding_01.jpg"></li>
	<li><img src="img/portfolio/jpg/CivicInc_Funding_02.jpg"></li>
	<li><img src="img/portfolio/jpg/CivicInc_Land_01.jpg"></li>
	<li><img src="img/portfolio/jpg/CivicInc_Land_02.jpg"></li>

	<!-- JPAY.COM -->
	<li><img src="img/portfolio/jpg/jpay_web_home.jpg"></li>
	<li><img src="img/portfolio/jpg/jpay_web_signed_in.jpg"></li>
	<li><img src="img/portfolio/jpg/jpay_web_money.jpg"></li>	
	<li><img src="img/portfolio/jpg/jpay_web_email.jpg"></li>
	<li><img src="img/portfolio/jpg/jpay_web_stamps.jpg"></li>

	<!-- INMATE KIOSK -->
	<li><img src="img/portfolio/jpg/inmate_kiosk.jpg"></li>
	<li><img src="img/portfolio/jpg/inmate_kiosk_UI_home.jpg"></li>
	<li><img src="img/portfolio/jpg/inmate_kiosk_UI_home_signed_in.jpg"></li>
	<li><img src="img/portfolio/jpg/inmate_kiosk_UI_buy_jp3.jpg"></li>
	<li><img src="img/portfolio/jpg/inmate_kiosk_UI_music.jpg"></li>
	<li><img src="img/portfolio/jpg/inmate_kiosk_UI_music_songs_list.jpg"></li>
	<li><img src="img/portfolio/jpg/inmate_kiosk_UI_email_inbox.jpg"></li>
	<li><img src="img/portfolio/jpg/inmate_kiosk_UI_email_read.jpg"></li>
	<li><img src="img/portfolio/jpg/inmate_kiosk_UI_buys.jpg"></li>
	<li><img src="img/portfolio/jpg/inmate_kiosk_UI_manage.jpg"></li>

	<!-- JPAY APP -->
	<li><img src="img/portfolio/jpg/icons_red.jpg"></li>
	<li><img src="img/portfolio/jpg/jpay_app_home.jpg"></li>
	<li><img src="img/portfolio/jpg/jpay_app_home_prefs.jpg"></li>
	<li><img src="img/portfolio/jpg/jpay_app_money_prefs.jpg"></li>
	<li><img src="img/portfolio/jpg/jpay_app_email.jpg"></li>
	<li><img src="img/portfolio/jpg/jpay_app_logos.jpg"></li>
	<li><img src="img/portfolio/jpg/jpay_app_UI_old.jpg"></li>

	<!-- JPAYINC -->
	<!-- <li><img src="img/portfolio/jpg/jpayinc_website_old.jpg"></li> -->
	<li><img src="img/portfolio/jpg/jpayinc_website.jpg"></li>
	<li><img src="img/portfolio/jpg/jpayinc_website_responsive.jpg"></li>
	<!-- ICONS -->
	<li><img src="img/portfolio/jpg/jpay_infographgic_cloud.jpg"></li>
	<li><img src="img/portfolio/jpg/jpay_icons_doc.jpg"></li>
	<li><img src="img/portfolio/jpg/icons_doc_parole.jpg"></li>
	<li><img src="img/portfolio/jpg/jpay_icons_cards_kiosk.jpg"></li>
	<li><img src="img/portfolio/jpg/jpay_infographic_01.jpg"></li>
	<li><img src="img/portfolio/jpg/jpay_infographic_02.jpg"></li>
	<li><img src="img/portfolio/jpg/jpay_inforgraphic_money.jpg"></li>
	<li><img src="img/portfolio/jpg/jpay_icons_email.jpg"></li>

	<!-- MLOTTO -->
	<li><img src="img/portfolio/jpg/mlotto_logo.jpg"></li>
	<li><img src="img/portfolio/jpg/mlotto_screens.jpg"></li>
	<li><img src="img/portfolio/jpg/mlotto_web.jpg"></li>
	<li><img src="img/portfolio/jpg/mlotto_brochure.jpg"></li>
	<li><img src="img/portfolio/jpg/mlotto_UI_home.jpg"></li>
	<li><img src="img/portfolio/jpg/mlotto_UI_play.jpg"></li>
	<li><img src="img/portfolio/jpg/mlotto_UI_favs.jpg"></li>
	<li><img src="img/portfolio/jpg/mlotto_UI_picks.jpg"></li>
	<li><img src="img/portfolio/jpg/mlotto_UI_wallet.jpg"></li>
	
	<!-- JP4 -->
	<li><img src="img/portfolio/jpg/jp4_unit.jpg"></li>
	<li><img src="img/portfolio/jpg/jp4_home_screen.jpg"></li>
	<li><img src="img/portfolio/jpg/jp4_email.jpg"></li>
	<li><img src="img/portfolio/jpg/jp4_movie.jpg"></li>
	<li><img src="img/portfolio/jpg/jp4_movie_parts.jpg"></li>
	<li><img src="img/portfolio/jpg/jp4_music_album.jpg"></li>
	<li><img src="img/portfolio/jpg/jp4_music_home.jpg"></li>
	<li><img src="img/portfolio/jpg/jp4_music.jpg"></li>
	<li><img src="img/portfolio/jpg/jp4_radio.jpg"></li>
	<li><img src="img/portfolio/jpg/jp4_commissary.jpg"></li>

	<!-- JP3 -->
	<li><img src="img/portfolio/jpg/jp3_unit.jpg"></li>
	<li><img src="img/portfolio/jpg/jp3_screens.jpg"></li>
	
	<!-- JPAY MISC -->
	<li><img src="img/portfolio/jpg/jpay_mural.jpg"></li>
	<li><img src="img/portfolio/jpg/jpay_email.jpg"></li>
	<li><img src="img/portfolio/jpg/newsletter_hero1.jpg"></li>
	<!-- <li><img src="img/portfolio/jpg/newsletter_hero2.jpg"></li> -->
	<li><img src="img/portfolio/jpg/prisonride_home.jpg"></li>
	<li><img src="img/portfolio/jpg/prisonride_profile.jpg"></li>

	<!-- MISC OLD -->
	<li><img src="img/portfolio/jpg/valentina_website.jpg"></li>
	<li><img src="img/portfolio/jpg/celebrity_cruise_lines.jpg"></li>

</ul>		



			
