---
title: Drew Harper, UX/UI Designer, Front-End Developer
---
<div class="fluid-container">
    <header>
        <%= partial "nav" %>
        <br clear="all">
    </header>
    <div class="content">
        <!-- >> LEFT SIDE -->
        <div class="left">
            <div class="head">
                <div id="drewhead" class="drewhead"></div>
                <h1>Don't let design get in the way of communication</h1>
            </div>
            <p>Whether it's a prototype, a responsive website, a wireframe, an interactive PDF, a new mobile app UI, a quick skin job, a few more buttons, a dialog box, filling up a bucket, or getting in the trenches with HTML 5 and CSS 3, I can deliver. I don't let ‘design’ get in the way. Oh and I'm a coder groupie :)</p>
            <div class="skills">
                <div class="col1">
                    <div class="icon"><img src="img/icons/icon_uiux.png" title="UI/UX"></div>
                    <div class="icon"><img src="img/icons/icon_terminal.png" title="Command Line"></div>
                    <div class="icon"><img src="img/icons/icon_yo.png" title="Yeoman"></div>
                </div>
                <div class="col2">
                    <div class="icon"><img src="img/icons/icon_html5.png" title="HTML5"></div>
                    <div class="icon"><img src="img/icons/icon_sublime_text.png" title="Sublime Text"></div>
                    <div class="icon"><img src="img/icons/icon_javascript.png" title="JavaScript"></div>
                </div>
                <div class="col3">
                    <div class="icon"><img src="img/icons/icon_css3.png" title="CSS3"></div>
                    <div class="icon"><img src="img/icons/icon_sass.png" title="SASS"></div>
                    <div class="icon"><img src="img/icons/icon_axure.png" title="Axure"></div>
                </div>
                <div class="col4">
                    <div class="icon"><img src="img/icons/icon_cs.png" title="Adobe Creative Suite"></div>
                    <div class="icon"><img src="img/icons/icon_compass.png" title="Compass"></div>
                    <div class="icon"><img src="img/icons/icon_ruby.png" title="Ruby on Rails"></div>
                </div>
            </div>
        </div>
        <!-- <<< END LEFT SIDE -->
        <!-- >> RIGHT SIDE -->
        <div class="right">
            <div class="flexslider">
                <%= partial "slides" %>
            </div>
            <div class="about">
                <div class="aboutinner">
                    <div class="british_american_flag">
                        <img src="img/british_american_flag.png">
                    </div>
                    <div class="copy">
                        <p>I'm half-English/half-American, worked in Advertising most my life, switched to web in late 90s. Travelled the world, enjoy reading history, love NFL, Rugby, Footy.</p>
                    </div>
                </div>
            </div>
            <div class="quote">
                <%= partial "quotes" %>
            </div>
        </div>
        <!-- <<< END RIGHT SIDE -->
        <br clear="all">
        </div> <!-- <<< END CONTENT -->
        <footer>
            <%= partial "nav" %>
            <br clear="all">
        </footer>
    </div>
    <!-- <<< END FLUID CONTAINER -->