---
title: Drew Harper - UX/UI Designer
---

	<div class="fluid-container">

		<div id="header">
			<%= partial "nav" %>
		</div>	
		
			<div class="background">

				<div class="sidebar">
					<div class="one">
						<div class="box-pad">

							<h2>Specialties</h2>
								<ul>
									<li>Interface Design</li>
									<li>User Experience Design</li>
									<li>Interaction Design</li>
									<li>Project Management</li>
									<li>Style Boarding</li>
									<li>Building Iconic Languages</li>
									<li>Story Boarding</li>
									<li>Proto Typing</li>
									<li>Icon Design</li>
									<li>Logo Design</li>
									<li>Illustration</li>
									<li>Painting and Drawing</li>
									<li>Character Design</li>
									<li>Animation</li>
									<li>Typography</li>
								</ul>
						</div>
					</div>

					<div class="two">
						<div class="box-pad">
							<h2>Working Knowledge</h2> 
								<ul>
									<li>HTML 5</li>
									<li>CSS 3</li>
									<li>Terminal</li>
									<li>Sublime Text</li>
									<li>Axure RP 6.5</li>
									<li>Word</li>
									<li>Excel</li>
									<li>Power Point</li>
								</ul>
						</div>
					</div>
					
					<div class="three">
						<div class="box-pad">
							<h2>Front-End Dev</h2>
								<ul>
									<li>SASS</li>
									<li>Compass</li>
									<li>Middleman App</li>
									<li>JavaScript / JQuery</li>
									<li>Ruby</li>
									<li>Ruby On Rails</li>
									<li>WordPress</li>
									<li>vBulletin</li>
								</ul>
						</div>
					</div>
					
					<div class="four">
						<div class="box-pad">
							<h2>Adobe Creative Suite</h2>
								<ul>
									<li>Fireworks</li>
									<li>Illustrator</li>
									<li>PhotoShop</li>
									<li>InDesign</li>
									<li>Dreamweaver</li>
									<li>Flash</li>
								</ul>
						</div>
					</div>
					
				</div> <!-- / SIDEBAR -->


				<div class="content">	

				<h2>Professional Experience</h2>

					<h3>JPay, Miami, FL, 2008-present</h3>
						
						<div class="indent">

							<h4>JPay.com UI/UX Designer, Front-End Dev</h4>
							<ul>
								<li>Participate in user research</li>
								<li>Analytics research</li>
								<li>Participate in research analysis and synthesis as well as identification and prioritization of functional requirements.</li>
								<li>Create wireframes, sitemaps, interaction flows, and prototypes for desktop and online applications.</li>
								<li>Create interactive prototypes</li>
								<li>Participate in user testing throughout the design and development process.</li>
								<li>Develop User persona, User Profile</li>
								<li>Rapid prototyping of design and interaction concepts for evaluation by senior management and other stakeholders</li>
								<li>Creating UI assets and managing their delivery to the development team</li>
								<li>Producing detailed UI design specifications as required by the development team</li>
								<li>Contributing to UI QA during development</li>
								<li>Created hundreds of icons</li>
								<li>HTML5/CSS3</li>
							</ul>

							<h4>JPay mobile App, UI/UX Design</h4>
							<ul>
								<li>Created Interactive Prototypes</li>
								<li>Worked with team of engineers</li>
								<li>Rapid prototyping of design and interaction concepts for evaluation by senior management and other stakeholders</li>
								<li>Designing polished UIs for multiple application platforms and mobile web specifications</li>
								<li>Creating UI assets and managing their delivery to the development team</li>
								<li>Producing detailed UI design specifications as required by the development team</li>
								<li>Contributing to UI QA during development</li>
							</ul>

							<h4>JP4 mini-tablet device, UI/UX Design</h4>
							<ul>
								<li>Created Interactive Prototypes</li>
								<li>Worked with team of engineers</li>
								<li>Rapid prototyping of design and interaction concepts for evaluation by senior management and other stakeholders</li>
								<li>Creating UI assets and managing their delivery to the development team</li>
								<li>Producing detailed UI design specifications as required by the development team</li>
								<li>Contributing to UI QA during development</li>
								</ul>

							<h4>JP3 UI, Small MP3 player, UI/UX Design</h4>
							<ul>
								<li>Created Interactive Prototypes</li>
								<li>Worked with team of engineers</li>
							</ul>

							<h4>JPayInc.com, UI/UX Design, Front-End Dev</h4>
							<ul>
								<li>HTML5/CSS3</li>
								<li>Responsive design</li>
								<li>Hand-coded site</li>
							</ul>

							<h4>JPay Email Marketing, UI/UX Design</h4>
							<ul>
								<li>HTML4 tables(!) and inline CSS</li>
								<li>Responsive design</li>
								<li>Hand-coded site</li>
							</ul>

							<h4>mLotto App UI-Lotto App (side project for JPay), UI/UX Design</h4>
							<ul>
								<li>Created Interactive Prototypes</li>
								<li>Gameplay Design</li>
							</ul>

							<h4>mLotto.com website, UI/UX Design and Front-End Dev</h4>
							<ul>
								<li>HTML5/CSS3</li>
								<li>JavaScript</li>
								<li>Hand-coded site</li>
							</ul>

							<h4>Print work</h4>
							<ul>
								<li>Designing marketing and advertising material for mobile and web, including third-party and affiliate applications and sites</li>
								<li>Corporate Branding</li>
								<li>Advertising</li>
								<li>Collateral</li>
								<li>Stationary</li>
								<li>Design</li>
								<li>Production</li>
							</ul>
						
							<h4>PrisonRide.com, UI/UX Design</h4> 
							<ul>
								<li>Site never completed</li>
							</ul>
						</div>

					<hr>

					<h3>UI/UX Designer, Front-End Dev</h3>
					<p>Safari Ltd, 2007-2008, Miami, FL</p>
					<ul>
						<li>UI/UX Design</li>
						<li>HTML/CSS</li>
						<li>Adobe Creative Suite, All</li>
					</ul>

					<hr>

					<h3>Designer</h3> 
					<p>Planning Group Int (Now SapientNitro), Miami, 2006</p>
					<ul>
						<li>UI/UX Design</li>
						<li>HTML/CSS</li>
						<li>Flash</li>
						<li>Adobe Creative Suite, All</li>
						<li>Print</li>
					</ul>

					<hr>

					<h3>UI/UX Designer, Front-End Dev</h3> 
					<p>Diaz &amp; Cooper Advertising, Miami, FL, 2003&ndash;2006</p> 
					<ul>
						<li>UI/UX Design</li>
						<li>HTML/CSS</li>
						<li>Flash</li>
						<li>Print</li>
						<li>Adobe Creative Suite, All</li>
						<li>QuarkXpress</li>
					</ul>

					<hr>

					<h3>Art Director &amp; &lsquo;Multimedia designer&rsquo;</h3> 
					<p>TBWA, 1998&ndash;2000, London, England</p>
					<ul>
						<li>UI/UX Design</li>
						<li>HTML/CSS</li>
						<li>Macromedia Director</li>
						<li>Adobe Creative Suite, All</li>
						<li>QuarkXpress</li>
					</ul>

					<hr>

					<h3>Art Director</h3> 
					<p>Freelance, 1993&ndash;1997, Miami, FL</p> 
					<ul>
						<li>Adobe Creative Suite, All</li>
						<li>QuarkXpress</li>
					</ul>

					<hr>

					<h3>Art Director/Production</h3>
						<p>Tinsley Adv, 1990&ndash;1993, Miami, FL</p> 
						<ul>
							<li>Adobe Creative Suite, All</li>
							<li>QuarkXpress</li>
						</ul>

					<hr>

					<h2>Education</h2>
						<ul>
							<li>International Fine Arts College, 1987, Miami, FL, Associates Degree in Commercial Art</li>
							<li>Trent College, 1984, Long Eaton, Nottinghamshire, UK</li>
							<li>Attended &lsquo;Public&rsquo; school in England, Art Scholarship.</li> 
							<li>Played Rugby for my county Nottinghamshire.</li>
							<li>Travelling the world has been enlightening; countries visited: Panama, England, UK, western Europe, Nicaragua, multiple Caribbean countries, Uganda, South Africa, India, Nepal, China, Japan, Fiji, Chile.</li>
							<li>Massive reader of History, Science, and of course Front-End books/mags.</li>
						</ul>
					<hr>

					<h2>Profile</h2>
					<p>I started as an Art Director in the late 80s in Miami. In 1993 I moved to London and worked at top ten Advertising Agencies GGT and TBWA. In the late 90s I transitioned to &lsquo;Multimedia&rsquo;, web and UI design. I freelanced in the early 2000s, eventually going full-time.
					I&rsquo;m a pro Fireworks and all Adobe CS. Axure for wireframing. I produce designs that fit the brief and are completed as rapidly as possible. At home I use Terminal, Sublime Text, and produce code in-browser.</p>
					<p>My last five years I&rsquo;ve worked with an unusual clientele: Inmates and their friends &amp; families, I design for a captive audience! It&rsquo;s challenging to make hyper-simple UX for low-literacy customers. I create, produce and admin all of these JPay projects&rsquo; UI simultaneously and single-handed (as well as some print work). So whether the brief is an entire website, wireframe, interactive PDF, new app UI, skin job, a few more buttons I can deliver. I don&rsquo;t let &lsquo;design&rsquo; get in the way of communication. I&rsquo;m a coder groupie :)</p>

					<hr>

					<h2>Referrals</h2>
					<p>Joanna Perry, Creative Director, <a href="mailto:joanna@nomadhome.net">joanna@nomadhome.net</a>, +44 788-418-7100</p>
					<p>Mike Mack, Coder, <a href="mailto:mmack@sig.org">mmack@sig.org</a>, (415) 509-1909</p>
					
					<br>

			</div> <!-- / CONTENT -->

		</div> <!-- / BACKGROUND -->
		
		<footer>
			<%= partial "nav" %>
		</footer>

	</div><!-- / FLUID CONTAINER -->